@import "../../base";

.projectsection {
  display: flex;
  flex-direction: column;
  font-family: $font-tertiary;
  font-size: 2rem;
  line-height: 3.2rem;
  gap: 3rem;
  @media only screen and (max-width: $bp-medium) {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 1.6rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 1.5rem;
  }
  &-title {
    width: 75vw;
    font-size: 2.2rem;
    margin: 0 auto;
    color: #ff5277;
    @media only screen and (max-width: $bp-medium) {
      width: 85vw;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
  }
  &-item {
    border: 1px solid #ff5277;
    padding: 2.5rem;
    width: 70vw;
    margin: 0 auto;
    position: relative;
    @media only screen and (max-width: $bp-medium) {
      width: 80vw;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem;
    }
    &-title {
      font-size: 2.2rem;
      @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
      }
      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.7rem;
      }
    }

    // p {
    //   opacity: 0;
    //   animation: fade-in-text 0.05s ease-in 6s forwards;
    // }

    // @keyframes fade-in-text {
    //   from {
    //     opacity: 0;
    //   }
    //   to {
    //     opacity: 1;
    //   }
    // }
  }
  &-reveler {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;

  } 
  &-footer {
    display: flex;
    gap: 5rem;

    @media only screen and (max-width: $bp-small) {
      gap: 3rem;
    }
    @media only screen and (max-width: 500px) {
      gap: 1rem;
      margin-top: 1rem;
    }

    @media only screen and (max-width: 375px) {
      flex-direction: column;
      gap: 0;
    }

    a {
      color: #ff5277;
      font-weight: 300;
      opacity: 0.7;
      cursor: pointer;
      // animation: fade-in-text 0.02s ease-in 5s forwards;
    }
  }
}
