
// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 25em; 

// TYPOGRAPHY
$font-primary: "Source Code Pro", monospace;
$font-secondary: 'Chewy', cursive;
$font-tertiary: 'Inconsolata', monospace;

