*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
      
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    color: white;
    background-color: #0e141b;
    
    
}

a {
  color: white;
  text-decoration: none;
}

body {
overflow-x: hidden;
}